<div class="details">
  <div class="game-banner">
    <img src="https://ae01.alicdn.com/kf/H4ef9b2abb78849d8b60beb145e99d916b/Terios-S3-Bluetooth-Gamepad-for-Android-Wireless-Joystick-Gaming-Controller-Black-for-Android-Smartphone-Android-Tv.jpg"
         class="game-banner-img" alt="background image">
  </div>

  <div class="game-content">
    <div class="details-wrapper">
      <div class="game-header">
        <h1 class="game-header-title">Nombre</h1>
        <h2 class="game-header-release-date">Release 1/1/0001</h2>
        <p class="game-header-genres">
          <span>RPG</span>
        </p>

        <div class="game-gauge">
          <mwl-gauge class="two" [max]="100" [dialStartAngle]="180" [dialEndAngle]="0" [value]="gameRating"
                     [animated]="true" [color]="getColor" [animationDuration]="2">
          </mwl-gauge>
          <a class="game-gauge-label" target="_blank" href="">Reseña</a>
        </div>
      </div>
    </div>
  </div>
</div>
